* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

.wrapper{
    position: absolute;
    background-image: url(imagens/mapa.png);
    z-index: 0;
    width:100%;
    height: 100%;
    overflow: hidden;
}

.mapa{
    z-index: 0;
}

.player {
    position: relative; /* Change position to relative */
    z-index: 2; /* Increase z-index value */
  }
  
  .playerimg {
    transform: scale(1.85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Decrease z-index value */
    margin-top: 110px;
    margin-left: 100px;
  }

  .floresta{
    position: relative;
    z-index: 3;
    margin-top: 100px;
    margin-left: 100px;
    padding: 10px;
  }

  .arvore1{
    height: 100px;
  }

  .arvore2{
    height: 100px;
  }

  .invisivel{
    visibility: hidden !important;
  }
  

  .joystick{
    height: 200px;
    left: 82vw;
    top: 470px;
    position: absolute;
    z-index: 2;
}


.btum{
    margin-left: 87vw;
    margin-top: 65vh;
    height: 10vh;
    width: 3.3vw;
    background-color: #fa0000;
    position: absolute;
    z-index: 3;
    opacity: 50%;
}

.btdois{
    margin-left: 87vw;
    margin-top: 80.1vh;
    height: 10vh;
    width: 3.3vw;
    background-color: #ff0000;
    position: absolute;
    z-index: 3;
    opacity: 50%;
}

.bttres{
    margin-left: 83.5vw;
    margin-top: 72.6vh;
    height: 10vh;
    width: 3.3vw;
    background-color: #ff0000;
    position: absolute;
    z-index: 3;
    opacity: 50%;
    transform: rotate(-90deg);
}

.btquatro{
    margin-left: 90.5vw;
    margin-top: 72.6vh;
    height: 10vh;
    width: 3.3vw;
    background-color: #ff0000;
    position: absolute;
    z-index: 3;
    opacity: 50%;
    transform: rotate(90deg);
}


.opacidadebotoes{
    opacity: 0 !important;
}

.instrucoestexto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 2.4vh;
}

